In [ ]:
list1 = ['one','three','four','five','six']
list2 = [1,2,3,4,5,6]
list3 = ['a','b','c','d','e','f']
list4 = [['apple'],['mango'],['grapes']]
list5 = ['aakash',23, 1.6,'a']
print(list5[-4])

In [1]:
print('hello')

hello

In [14]:
import os
class student:
    
    def __init__(self):
        
        self.name = input("Enter The Name: ")
        self.classno = input("Enter The Class No: ")
        self.age = input("Enter The Age: ")        
        self.roll_no = input("Enter The Roll no: ")        
        self.marks = input("Enter The Marks: ")
        with open(f'C:/Users/Admin/Desktop/test1/{self.roll_no}.txt', 'w') as file1:

            file1.write('Name of the Student:'+ self.name+"\n")
            file1.write('Class of the Student:'+ self.classno+"\n")
            file1.write('Age of Student:'+ str(self.age)+"\n")
            file1.write('Roll no of the Student:'+ str(self.roll_no)+"\n")
            file1.write('Marks of the Student:'+ str(self.marks))

    
         
            
    def displayStudent(self):                   
        file_s = input("Enter The Roll no: ")
        print(file_s)
        file_s = file_s +'.txt'
        print(file_s)
        file_path = os.listdir("C:\\Users\\Admin\\Desktop\\test1\\")


        print(file_path)
        if file_s in file_path:
            print("Successfully Matched!")
            with open(f'C:/Users/Admin/Desktop/test1/{file_s}', 'r') as file2:
                print("------ Student Details are below -----------\n")
                data_st = file2.read()
                print(data_st)
                
                #file2.read(self.age)
                #file2.read(self.roll_no)
                #file2.read(self.marks)
        else:
            print("File Not Exist")
             
    
    def showAllDetails(self):
        file_path = os.listdir("C:\\Users\\Admin\\Desktop\\test1\\")
        for file in file_path:
            with open(f'C:/Users/Admin/Desktop/test1/{file}', 'r') as file2:
                print("------ Student Details are below -----------\n")
                data_st = file2.read()
                print(data_st)
            
        
    
    def delStudent(self):
        file_s = input("Enter The Roll No: ")
        file_path = os.path.join("C:\\Users\\Admin\\Desktop\\test1\\")
        file_path = file_path + file_s + '.txt'
        print(file_path)
        if file_s in file_path:
            os.remove(file_path)
            print("Successfully Deleted!")
        else:
            print("File Not Exist")

In [16]:
std = student()

Enter The Name: aaka
Enter The Class No: 12
Enter The Age: 123
Enter The Roll no: 11
Enter The Marks: 123

In [13]:
std.delStudent()

Enter The File Name: 11
C:\Users\Admin\Desktop\test1\11.txt
Successfully Deleted!

In [9]:
std.displayStudent()

Enter The Roll no: 009
009
009.txt
['009.txt', '11.txt', '1234.txt', '22.txt']
Successfully Matched!
------ Student Details are below -----------

Name of the Student:aakash
Class of the Student:123
Age of Student:123
Roll no of the Student:009
Marks of the Student:22

In [17]:
std.showAlldetails()

------ Student Details are below -----------

Name of the Student:aakash
Class of the Student:123
Age of Student:123
Roll no of the Student:009
Marks of the Student:22
------ Student Details are below -----------

Name of the Student:aaka
Class of the Student:12
Age of Student:123
Roll no of the Student:11
Marks of the Student:123
------ Student Details are below -----------

Name of the Student:aakash
Class of the Student:12
Age of Student:23
Roll no of the Student:1234
Marks of the Student:123

In [8]:
file_s = '1234' + '.txt'

In [3]:
def triangle(n):
     
    # number of spaces
    k = n - 1
 
    # outer loop to handle number of rows
    for i in range(0, n):
     
        # inner loop to handle number spaces
        # values changing acc. to requirement
        for j in range(0, k):
            print(end=" ")
     
        # decrementing k after each loop
        k = k - 1
     
        # inner loop to handle number of columns
        # values changing acc. to outer loop
        for j in range(0, i+1):
         
            # printing stars
            print("* ", end="")
     
        # ending line after each row
        print("\r")
 
# Driver Code
n = 5
triangle(n)

    *
   * *
  * * *
 * * * *
* * * * *

In [9]:
print(end=" ")

In [ ]:
*
**
***
**
*

In [1]:
n = int(input())
mid = n//2+1
space = n//2
star = 1
for i in range(mid):
    # "  "
    print(" "*space, "*"*star, " "*space)
    star += 2
    space -= 1

space=1
star = n-2
for i in range(mid-1):
    print(" "*space, "*"*star, " "*space)
    star -= 2
    space += 1

5
   *
  ***
 *****
  ***
   *

n = int(input())
mid = n
space = n//2-2
star = 1
for i in range(mid):
    # "  "
    print("*"*star, " "*space)
    star = star + 1
    space = star - 1

space=1
star = n-1
for i in range(mid-1):
    print("*"*star, " "*space)
    star = star - 1
    space = space + 1

In [1]:
n = int(input())
mid = n
space = n//2-2
star = 1
for i in range(mid):
    # "  "
    print("*"*star, " "*space)
    star += 1
    space -= 1

space=1
star = n - 1
for i in range(mid-1):
    print("*"*star, " "*space)
    star -= 1
    space += 1

6
*
**
***
****
*****
******
*****
****
***
**
*

In [2]:
n = int(input())
mid = n//2+1
space = n//2
for i in range(mid):
    # "  "
    num = 65
    ch = chr(num)
    print(" "*space, ch, " "*space)
    ch += 1
    space -= 1

#space=1
#star = n-2
#for i in range(mid-1):
    #print(" "*space, "*"*star, " "*space)
    #star -= 2
    #space += 1

5
   A

TypeError: can only concatenate str (not "int") to str

In [1]:
import os
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Aakash@9899",
  database="student_record"
  
)

mycursor = mydb.cursor()

class student:
    
    def __init__(self):
        
        self.name = input("Enter The Name: ")
        self.classno = input("Enter The Class No: ")
        self.age = input("Enter The Age: ")        
        #self.roll_no = input("Enter The Roll no: ")        
        self.marks = input("Enter The Marks: ")
        query = "INSERT INTO students (name,class,age,marks) VALUES(%s,%s,%s,%s)"
        val = (self.name, self.classno,self.age,self.marks)
        mycursor.execute(query,val)
        mydb.commit()
        print(mycursor.rowcount)
    
         
            
    def displayStudent(self):                   
        rollno = input("Enter The Roll no: ")
        mycursor.execute("select * from students where roll_no = %s",(rollno,))
        myresult = mycursor.fetchall()
        if myresult:
            for x in myresult:
                print(x)
        else:
            print("Record does not exist")

    
    def showAllDetails(self):
            mycursor.execute('select * from students order by name')
            myresult = mycursor.fetchall()
            
            if myresult:
                for x in myresult:
                    print(x)
            else:
                print("No Records in the table!")
                
    def updateDetails(self):
        
        update_name = input("Enter The Name: ")
        update_class = input("Enter The Class: ")
        update_age = input("Enter The Age: ")
        update_marks = input("Enter Marks: ")
        update_rollno = input("Enter The Roll no: ")
        mycursor.execute("update students set name = %s, class = %s, age = %s, marks = %s where roll_no = %s",(update_name,update_class,update_age,update_marks,update_rollno))
        mydb.commit()
        print(mycursor.rowcount, "record(s) affected")
        
        
        
    
    def delStudent(self):
        del_data = input("Enter The Roll No: ")
        mycursor.execute("delete from students where roll_no = %s",(del_data,))
        #myresult = mycursor.fetchall()
        mydb.commit()
        print(mycursor.rowcount, "record(s) deleted")

In [2]:
stu = student()

Enter The Name: t
Enter The Class No: 87
Enter The Age: 88
Enter The Marks: 67
1

In [5]:
stu.showAllDetails()

(27, 'aa', 77, 99, 77)
(2, 'Aakash', 12, 25, 200)
(3, 'Aakash', 12, 25, 200)
(4, 'aakash', 12, 24, 23)
(14, 'aakash', 45, 10, 334)
(31, 'aakasjsjs', 55, 55, 67)
(26, 'aakhh', 56, 78, 66)
(18, 'aarti', 78, 66, 568)
(12, 'abab', 12, 22, 22)
(23, 'abc', 22, 22, 22)
(1, 'abhinav', 12, 23, 33)
(8, 'abhishek', 12, 22, 22)
(13, 'abhishek', 13, 23, 2234)
(28, 'agag', 44, 55, 66)
(30, 'agaga', 44, 565, 55)
(33, 'akak', 34, 44, 44)
(25, 'ass', 344, 44, 55)
(44, 'e', 3, 3, 3)
(40, 'ff', 33, 33, 45)
(39, 'fgf', 56, 67, 66)
(32, 'fhfh', 45, 45, 55)
(42, 'g', 45, 55, 56)
(43, 'h', 5, 5, 5)
(29, 'hhh', 87, 99, 88)
(37, 'jaha', 33, 33, 33)
(34, 'jeet', 45, 55, 55)
(38, 'jjhd', 34, 55, 55)
(24, 'kajal', 56, 66, 66)
(21, 'kavya', 34, 556, 678)
(36, 'lalit', 23, 33, 33)
(47, 'qwer', 23, 23, 23)
(45, 'r', 3, 4, 5)
(17, 'rakesh', 22, 1245, 45)
(11, 'rana', 12, 2, 2)
(9, 'ravi', 12, 22, 34)
(19, 'ravi', 22, 3545, 3345)
(41, 's', 45, 55, 55)
(15, 'simran', 12, 22, 890)
(35, 'ss', 23, 33, 33)
(48, 't', 87, 88, 67)
(20, 'vaibhav', 12, 22, 22)
(16, 'vikas', 12, 22, 2345)
(5, 'vikas', 12, 23, 22)
(10, 'vikki', 22, 234, 12)
(7, 'vishal', 12, 24, 22)
(46, 'w', 2, 3, 4)

In [6]:
stu.displayStudent()

Enter The Roll no: 1
(1, 'abhinav', 12, 23, 33)

In [13]:
stu.delStudent()

Enter The Roll No: 22
1 record(s) deleted

In [4]:
stu.updateDetails()

Enter The Name: abhinav
Enter The Class: 12
Enter The Age: 23
Enter Marks: 33
Enter The Roll no: 1
1 record(s) affected